.icon-button {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: absolute;
  top: 6px;
  width: 32px;
  z-index: 1;

  -webkit-app-region: no-drag;
}

.left-border {
  border-left: solid;
  border-width: thin;
  border-color: lightgray;
}

.settings-button {
  right: 38px;
}

.close-button {

}

.settings-icon {
  background: transparent url('../images/settings.png') no-repeat 4px 4px;
  background-size: 24px 24px;
}

.close-icon {
    background: transparent url('../images/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
}
