/* Palette URL: http://paletton.com/#uid=1010u0kpnrSfEBnkGuisymWvVi6 */
.color-primary-0 { color: #DE322E }
.color-primary-1 { color: #FF8682 }
.color-primary-2 { color: #F15955 }
.color-primary-3 { color: #B71814 }
.color-primary-4 { color: #900400 }

body {
  background-color: #DE342E;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

/*color: #396;*/
h1 {
  color: #FFF;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.btn {
	background-color:#F15955;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #F15955;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
}
.btn:hover {
	background-color:#900400;
}
.btn:active {
	position:relative;
	top:1px;
}
.btn:focus {
  outline: none
}

.btn-bar {
  padding: 15px;
}

.icon-button {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: absolute;
  top: 6px;
  width: 32px;
  z-index: 1;

  -webkit-app-region: no-drag;
}

.left-border {
  border-left: solid;
  border-width: thin;
  border-color: lightgray;
}
