
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #B32723;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #98211E;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/*background-image: -webkit-linear-gradient(top, #eb5228, #bf3317);
background-image: -moz-linear-gradient(top, #eb5228, #bf3317);
background-image: -ms-linear-gradient(top, #eb5228, #bf3317);
background-image: -o-linear-gradient(top, #eb5228, #bf3317);
background-image: linear-gradient(to bottom, #eb5228, #bf3317);*/

.clock-button {
  background: #D4201D;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.start-button {

}

.stop-button {

}

.resume-button {

}

/*background-image: -webkit-linear-gradient(top, #fc5c3c, #d99134);
background-image: -moz-linear-gradient(top, #fc5c3c, #d99134);
background-image: -ms-linear-gradient(top, #fc5c3c, #d99134);
background-image: -o-linear-gradient(top, #fc5c3c, #d99134);
background-image: linear-gradient(to bottom, #fc5c3c, #d99134);*/

.start-button:hover {
  background: #DD2020;
  text-decoration: none;
}
